.header {
  height: 92px;
  background: #1eb7ee;
  display: flex;
  box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 0.3);

  &__icon {
    font-size: 80px;
    color: #fff;
    margin: 0px 20px 0 20px;
  }

  &__text {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
}

.container {
  display: flex;
  align-items: center;
}
