.header {
  height: 92px;
  background: #1eb7ee;
  display: flex;
  box-shadow: 0 5px 10px rgb(37 40 41 / 30%);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;

  &__icon {
    font-size: 80px;
    color: #fff;
    margin: 0px 20px 0 20px;
  }

  &__text {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
}

.container {
  display: flex;
  align-items: center;
}
